@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Conta Temporariamente Bloqueada";
}
<div class="container animate shake">
    <div class="row">
        <div class="well well-shadow">
            <h1><i class="fa fa-lock"></i> Acesso negado</h1>
            <div class="alert alert-danger" role="alert">
                <strong>Atenção: </strong>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </div>
        </div>
    </div>
</div>