@model Agenda3.Admin.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<style type="text/css">
    .input-group-addon.success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
    .input-group-addon.danger { color: rgb(255, 255, 255); background-color: rgb(217, 83, 79); border-color: rgb(212, 63, 58); }
</style>
@section Scripts {
    <script src="/bower_components/angular/angular.min.js"></script>
    <script>
        (function (window, undefined) {
            angular.module('login', []).controller('ResetPasswordCtrl', function ($timeout) {
                $public = this;
                $public.StatusVerificacao = { Pristine: 0, Loading: 1, Success: 2, Error: 3, Dirty: 4 };
                $public.StatusPassword = $public.StatusVerificacao.Pristine;

                $public.OnChangePassword = function () {
                    if ($public.Password && $public.ConfirmPassword) {
                        $public.StatusPassword = ($public.Password === $public.ConfirmPassword ? $public.StatusVerificacao.Success : $public.StatusVerificacao.Error);
                    } else {
                        $public.StatusPassword = $public.StatusVerificacao.Dirty;
                    }
                };
            });
        })(window);
    </script>
}
<div class="container" data-ng-app="login" data-ng-controller="ResetPasswordCtrl as ctrl">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="well well-shadow">
                <form action="@Url.Action("ResetPassword", "Account")" method="post" name="form" role="form" novalidate autocomplete="off" data-ng-submit="ctrl.Loading = true">
                    <h2>Alterar senha</h2>
                    <p>Preencha os campos abaixo para alterar sua senha.</p>
                    <div class="form-group" data-ng-class="{'has-error': form.Email.$dirty && form.Email.$invalid }">
                        <label for="Email" class="sr-only">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></div>
                            <input type="email" data-ng-model="ctrl.Email" id="Email" name="Email" class="form-control" placeholder="Email" required autofocus>
                        </div>
                    </div>

                    <div class="form-group" data-ng-class="{'has-error': form.Password.$dirty && form.Password.$invalid }">
                        <label for="Password" class="sr-only">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon" data-ng-switch="ctrl.StatusPassword" data-ng-class="[{'success': ctrl.StatusPassword == 2}, {'danger': ctrl.StatusPassword == 3}]">
                                <span ng-switch-when="0"><i class="fa fa-fw fa-key"></i></span>
                                <span ng-switch-when="1"><i class="fa fa-fw fa-spin fa-spinner"></i></span>
                                <span ng-switch-when="2"><i class="fa fa-fw fa-check-circle"></i></span>
                                <span ng-switch-when="3"><i class="fa fa-fw fa-times-circle"></i></span>
                                <span ng-switch-when="4"><i class="fa fa-fw fa-pencil"></i></span>
                            </div>
                            <input type="password" data-ng-change="ctrl.OnChangePassword()" data-ng-minlength="6" data-ng-model="ctrl.Password" id="Password" name="Password" class="form-control" placeholder="Senha" required>
                        </div>
                        <span data-ng-if="form.Password.$invalid" class="label label-danger">A Senha deve contar no mínimo 6 caracteres</span>
                    </div>

                    <div class="form-group" data-ng-class="{'has-error': form.ConfirmPassword.$dirty && form.ConfirmPassword.$invalid }">
                        <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label>
                        <div class="input-group">
                            <div class="input-group-addon" data-ng-switch="ctrl.StatusPassword" data-ng-class="[{'success': ctrl.StatusPassword == 2}, {'danger': ctrl.StatusPassword == 3}]">
                                <span ng-switch-when="0"><i class="fa fa-fw fa-key"></i></span>
                                <span ng-switch-when="1"><i class="fa fa-fw fa-spin fa-spinner"></i></span>
                                <span ng-switch-when="2"><i class="fa fa-fw fa-check-circle"></i></span>
                                <span ng-switch-when="3"><i class="fa fa-fw fa-times-circle"></i></span>
                                <span ng-switch-when="4"><i class="fa fa-fw fa-pencil"></i></span>
                            </div>
                            <input type="password" data-ng-change="ctrl.OnChangePassword()" data-ng-model="ctrl.ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirmar Senha" required>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="form.$pristine || form.$invalid || ctrl.Loading || ctrl.StatusPassword !== 2">
                        <span data-ng-hide="ctrl.Loading">Alterar <i class="fa fa-sign-in"></i></span>
                        <span data-ng-show="ctrl.Loading"><i class="fa fa-spin fa-refresh"></i></span>
                    </button>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                </form>
            </div>
        </div>
    </div>
</div>