<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-remove"></i> Acesso Negado<small></small></h1>
    </div>
    <p>A página que você esta tentando acessar não esta disponivel, entre em contato com o administrador do sistema.</p>
</div>