@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br" data-ng-app="GestcomApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestcom</title>
    <!-- app:css -->
    <link rel="stylesheet" href="http://gestcomadm.mgfinformatica.com.br/App/dist/css/gestcom-1537424839676.css">
    <!-- endinject -->
</head>
<body>

    @{ Html.RenderAction("_Menu", "Home", new { area = "" }); }

    <div data-ng-view></div>

    <!-- app:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/interact/dist/interact.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/tinymce/tinymce.js"></script>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>

    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="/bower_components/checklist-model/checklist-model.js"></script>
    <script src="/bower_components/angular-ui-switch/angular-ui-switch.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="/bower_components/angular-ivh-treeview/dist/ivh-treeview.js"></script>
    <script src="/bower_components/angular-input-masks/angular-input-masks-standalone.js"></script>
    <script src="/bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="/bower_components/angular-br-filters/release/angular-br-filters.js"></script>
    <script src="/bower_components/plupload-angular-directive/dist/plupload-angular-directive.js"></script>
    <script src="/bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <script src="/bower_components/angular-viacep/dist/angular-viacep.min.js"></script>
    <script src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="/bower_components/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
    <script src="/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/bower_components/angular-nicescroll/angular-nicescroll.js"></script>




    <script src="/App/src/App.js"></script>

    <script src="/App/src/Services/Funcionarios/Agenda.js"></script>
    <script src="/App/src/Services/Login/Operadores.js"></script>

    <script src="/App/src/Services/Shared/Auth.js"></script>
    <script src="/App/src/Services/Shared/Enums.js"></script>
    <script src="/App/src/Services/Shared/Menu.js"></script>
    <script src="/App/src/Services/Shared/RedirectInterceptor.js"></script>

    <script src="/App/src/Modules/Funcionarios/Agenda/Controller.js"></script>
    <script src="/App/src/Modules/Funcionarios/Agenda/Route.js"></script>
    <script src="/App/src/Modules/Login/Operador/Controller.js"></script>
    <script src="/App/src/Modules/Login/Operador/Route.js"></script>

    <script src="/App/src/Modules/Shared/AcessoNegado/Controller.js"></script>
    <script src="/App/src/Modules/Shared/AcessoNegado/Route.js"></script>

    <script src="/App/src/Modules/Shared/AlterarSenha/Controller.js"></script>
    <script src="/App/src/Modules/Shared/AlterarSenha/Route.js"></script>

    <script src="/App/src/Modules/Shared/Home/Controller.js"></script>
    <script src="/App/src/Modules/Shared/Home/Route.js"></script>

    <script src="/App/src/Modules/Shared/Menu/Controller.js"></script>




    <!-- endinject -->
    <script>
        (function () {
            var docElem = document.documentElement,
                didScroll = false,
                changeHeaderOn = 100,
                currentPosition = 0;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) { didScroll = true; setTimeout(scrollPage, 250); }
                }, false);
            }
            function scrollPage() {
                var sy = window.pageYOffset || docElem.scrollTop;
                if (sy >= changeHeaderOn && sy <= currentPosition) {
                    jQuery(".navbar").addClass('navbar-fixed-top');
                    jQuery("body").addClass('navbar-margin');
                }
                else {
                    jQuery(".navbar").removeClass('navbar-fixed-top');
                    jQuery("body").removeClass('navbar-margin');
                }
                didScroll = false;
                currentPosition = sy;
            }
            init();
        })();
    </script>

</body>
</html>